<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ad-chartboost"
    version="1.0.83">
	
    <name>Cordova Chartboost plugin</name>
    <description>Show chartboost interstitial (static interstitial, video interstial), more apps, rewarded video ad</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>	
    <license>MIT</license>
    <keywords>cordova,plugin,ad,chartboost,monetisation,interstitial,video</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-chartboost</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-chartboost/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
 	
    <js-module src="www/chartboost.js" name="chartboost">
        <clobbers target="window.chartboost" />
    </js-module>    
    
    <!-- android -->	
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ChartboostPlugin" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.ad.chartboost.ChartboostPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.chartboost.sdk.CBImpressionActivity"
               android:excludeFromRecents="true"
               android:hardwareAccelerated="true"
               android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
               android:configChanges="keyboardHidden|orientation|screenSize" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/ChartboostPlugin.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/chartboost" />
		
        <source-file src="src/android/chartboost.jar" target-dir="libs" />
    </platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ChartboostPlugin">
				<param name="ios-package" value="ChartboostPlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		
		<header-file src="src/ios/ChartboostPlugin.h" />
		<source-file src="src/ios/ChartboostPlugin.m" />
		
		<framework src="src/ios/Chartboost.framework" custom="true" />
		<framework src="StoreKit.framework" weak="true" />
		<framework src="Foundation.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="UIKit.framework" />
	</platform>
</plugin>